$name: #5F58CC;
$primary-color: #B968C7;
$bg: #10163A;
$text: white;
$border: #DBDFE6;
$sky: #00C0EF;
$sky-black: #00A3CB;
$green: #00A65A;
$green-black: #008D4C;
$yellow: #F39C12;
$yellow-black: #CE840F;
$red: #DD4B39;
$red-black: #BC3F30;
